<settings>
    <servers>
        <server>
            <id>openshift-crds</id>
            <username>x-access-token</username>
            <password>${env.GITHUB_TOKEN}</password>
        </server>
        <server>
            <id>test-metadata-generator</id>
            <username>x-access-token</username>
            <password>${env.GITHUB_TOKEN}</password>
        </server>
    </servers>
</settings>

